<!-- <p>logout works!</p>
<body>
 
    <div class="container-fluid g-0">
     
    
        <div>
      
        < MAIN CONTENT -->
        <!-- <main >
       -->
          <!-- TOOBAR TO ADD AND SEARCH Client -->
          <!-- <div class="toolbar">
           
      
            <div class="add-employee m-2">
             
              <button type="button" class="m-2 w-30 btn   btn-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal" #addEmployeeButton>Add Link +</button>
            </div>
      
           
      
          </div>
      
          <!-- AREA TO DISPLAY ALL THE EMPLOYEES -->
          <!-- <div class="employees black-border m-3">
      
            <div class="row mt-5">
              <div class="text-center">
                <span class="text-secondary fs-2 fw-bold fst-italic" routerLink="customlink">There are No clients Added!</span>
              </div>
            </div>
      
           
      
          </div>
        </main>
      </div> -->
      
      <!-- Modal -->
      <!-- <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Links</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
      
              <form [formGroup]="registrationForm"> -->
      
                <!-- FIRST NAME -->
                <!-- <div class="row m-1" >
                  
    <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Custom Link +</a>
                  
              
                
    
                </div> -->
                 <!-- JOB INFORMATION
                 <div class="row mt-5">
                  <div class="col form-heading">
                    <h6 class="text-secondary fst-italic">Or Choose From</h6>
                  </div>
                  
                </div>
      
                <div class="row m-1">
                  
                  
    
                    <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal" #addEmployeeButton><i class="fa-brands fa-facebook"></i> facebok</button> -->
                <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-brands fa-facebook"></i> facebok</button>
              </div>
             
                <div class="row m-1">
                  
                <button  type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal" #addEmployeeButton  ><i class="fa-brands fa-youtube"></i> youtube</button>
              </div>
              <div class="row m-1">
                  
                <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal" #addEmployeeButton><i class="fa-brands fa-twitter"></i> twitter</button>
              </div>
              <div class="row m-1">
                  
                <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal" #addEmployeeButton><i class="fa-brands fa-linkedin"></i> linked in</button>
              </div>
              <div class="row m-1">
                  
                <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal" #addEmployeeButton><i class="fa-brands fa-whatsapp"></i> whatsapp</button>
              </div>
              <div class="row m-1">
                  
                <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal" #addEmployeeButton><i class="fa-brands fa-instagram"></i> instagram</button>
              </div>
                
                
              
                
      
      
             
      
               
              </form>
      
            </div>
          
          </div>
        </div>
      </div>
    </div>
    
     -->
    
    
    
    <!-- customLink form -->
    <!-- <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Add your Custom Link</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row mt-3">
                <div class="col">
                   <label for="profile" class="form-label">Profile Image</label>
                  
                  
                  <div class="upload">
                    <img src="../../assets/imge/noprofil.jpg" width = 100 height = 100 alt="">
                    <div class="round">
                      <input type="file">
                      <i class = "fa fa-camera" style = "color: #fff;"></i>
                    </div>
                  </div>
     --> -->
<!--     
    
                  <div class="row">
                    <div class="col">
                      <label for="profile" class="m-1 form-label">Social Media Name</label>
                      <input type="text" class="m-1 form-control" placeholder="Ex:facebook , etc" >
                    </div>
                    <div class="row">
                    <div class="col">
                      <label for="profile" class="m-1 form-label">Social Link</label>
                      <input type="text" class="m-1 form-control" placeholder="https:www.example.com" >
                    </div>
                  </div>
                </div>
        
    
                 
    
                </div>
              </div>
            </form>
    
            
    
            <button type="button" class=" m-3 btn btn-primary">Save changes</button>
          
          
          </div>
         
        </div>
      </div>
    </div> -->
    
    
    <!-- facebook form -->
    <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">facebook title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
           
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </div>
      </div>
    </div> -->
    
         
        
      <!-- twitterForm -->
<!--      
      <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div> --> --> -->







      <div class="row m-1">
                            
        <button  type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
        data-bs-target="#exampleModal" #addEmployeeButton  ><i class="fa-brands fa-youtube"></i> youtube</button>
      </div>
      <div class="row m-1">
          
        <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
        data-bs-target="#exampleModal" #addEmployeeButton><i class="fa-brands fa-twitter"></i> twitter</button>
      </div>
      <div class="row m-1">
          
        <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
        data-bs-target="#exampleModal" #addEmployeeButton><i class="fa-brands fa-linkedin"></i> linked in</button>
      </div>
      <div class="row m-1">
          
        <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
        data-bs-target="#exampleModal" #addEmployeeButton><i class="fa-brands fa-whatsapp"></i> whatsapp</button>
      </div>
      <div class="row m-1">
          
        <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
        data-bs-target="#exampleModal" #addEmployeeButton><i class="fa-brands fa-instagram"></i> instagram</button>
      </div>
        