
<div class="container home">
    <div class="container-fluid row">
    
        <div class="col-md-5 col-sm-12">
            <img src="../../assets/LOGO.png" style="height:auto; width: 90%;">

            <br>
            <br>
          
            <h2 >Welocom To You In Mashro3ylink  home Page!</h2>
            <p>All Links Here</p>
            <button type="button" class="btn main-btn"(click)="login()">Login</button> 
            
        </div>
        <div class="col-md-7 col-sm-12">
            <img src="../../assets/home.png" style="height:auto; width: 80%;">
        </div>

    </div>
</div>


